
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap -->
	<link href="/ag-cdn/js/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/ag-cdn/css/bootstrap-fixed-navbar.css" rel="stylesheet">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/ag-cdn/js/jquery.min.js"></script>
	<script src="/ag-cdn/js/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
	<script src="/ag-cdn/js/angular-1.3.0-beta.18/angular.min.js"></script>
	<script src="/ag-cdn/js/underscore.js"></script>
	
	<script src="js/ag-book.js"></script>

	<title>Ag:Shakespeare</title>
	<link rel="icon" type="image/png" href="/ag-web/images/ag.png">	
</head>

<body ng-app="AgBookApp" ng-controller="AgBookController" ng-init="init('shakespeare', 'prose')">
	<!-- Navigation / Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../index.html"><span class="text text-danger">Ag</span></a>				
				<a class="navbar-brand" href="#"><span class="text text-info">{{book.title | agTitleCase}}</span></a>				
			</div>
			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown" ng-repeat="section in book.sections">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{section.sectionTitle | agTitleCase}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="chapter in section.chapters | orderBy:chapterTitle">
								<a ng-click="getChapter(chapter.chapterTitle)">{{ chapter.chapterTitle | agTitleCase}}</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li><a href="../index.html"><span class="text text-danger">Ag</span></a></li>
				</ul>
			</div>
			
			<!--/.nav-collapse -->
		</div>
	</div>


	<div class="container theme-showcase" role="main">
		<div ng-show="currentChapter.chapterTitle">
			<h3 class="text text-danger">{{currentChapter.chapterTitle | agTitleCase}}<hr></h3>
		</div>
		
		<!--  TODO elegantly display intro -->
		
		<div class="row col-sm-12" ng-repeat="line in currentChapter.paragraphs | orderBy:line_number">
			<div class="col-sm-2">
				<div ng-if="line.line_number != ''">
					<span ng-if="line.speaker == currentChapter.paragraphs[$index-1].speaker">&nbsp;</span>
					<span ng-if="line.speaker != currentChapter.paragraphs[$index-1].speaker" class="text text-danger pull-right">
						{{line.speaker | agTitleCase}}
					</span>
				</div>
			</div>
			<div class="col-sm-10">
				<span ng-if="line.line_number == ''" class="text text-warning"><i>{{line.text_entry}}</i></span>
				<span ng-if="line.line_number != ''">{{line.text_entry}}</span>
			</div>				
			<div class="col-sm-12" ng-hide="line.text_entry">{{line}} &nbsp;</div>				
		</div>
	
	</div>
</body>
</html>