<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap -->
	<link href="/ag-cdn/js/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/ag-cdn/css/bootstrap-fixed-navbar.css" rel="stylesheet">
	<link href="/ag-cdn/css/bootstrap-custom.css" rel="stylesheet">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/ag-cdn/js/jquery.min.js"></script>
	<script src="/ag-cdn/js/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
	<script src="/ag-cdn/js/angular-1.3.0-beta.18/angular.min.js"></script>
	<script src="/ag-cdn/js/underscore.js"></script>
	
	<script src="js/ag-book.js"></script>
	
	<title>Ag:Art of War</title>
	<link rel="icon" type="image/png" href="/ag-web/images/ag.png">	
</head>

<body ng-app="AgBookApp" ng-controller="AgBookController" ng-init="init('art-of-war', 'prose')">
	
	<!-- Navigation / Fixed navbar -->
	<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../index.html"><span class="text text-danger">Ag</span></a>				
				<a class="navbar-brand" href="#"><span class="text text-info">{{book.title | agTitleCase}}</span></a>				
			</div>
			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown" ng-repeat="section in book.sections">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{section.sectionTitle | agTitleCase}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="chapter in section.chapters">
								<a ng-click="getChapter(chapter.chapterTitle)">{{ chapter.chapterTitle | agTitleCase}}</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li><a href="../index.html"><span class="text text-danger">Ag</span></a></li>
				</ul>
			</div>
			
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container theme-showcase" role="main">

		<div ng-show="currentChapter.chapterTitle">
			<h3>{{currentChapter.chapterTitle | agTitleCase}}<hr></h3>
		</div>
		
		<div ng-show="currentChapter">
			<div ng-repeat="paragraph in currentChapter.paragraphs">
				<div ng-show="paragraph.list">
					<div ng-repeat="list in paragraph.list">
						<li>{{list}}</li>
					</div>
					<br>
				</div>
				<div ng-hide="paragraph.list">
					<p>{{paragraph}}</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>