<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap -->
	<link href="/ag-cdn/js/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/ag-cdn/css/bootstrap-fixed-navbar.css" rel="stylesheet">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/ag-cdn/js/jquery.min.js"></script>
	<script src="/ag-cdn/js/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
	<script src="/ag-cdn/js/angular-1.3.0-beta.18/angular.min.js"></script>	
	<script src="/ag-cdn/js/holder.js"></script>
	
	<script src="js/ag-app-pix.js"></script>
	<title>Ag Pix: Tracy Aviary</title>
</head>

<body ng-app="AgPixApp" ng-controller="AgPixController" ng-init="init('tracy-aviary')">
	<!-- Navigation / Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../index.html"><span class="text text-danger">Ag</span></a>
				<a class="navbar-brand" href="#">{{imageList.title}}</a>				
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="../index.html"><span class="text text-danger">Ag</span></a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container theme-showcase" role="main">
		
		<div id="carousel-pix" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li ng-repeat="file in imageList.images" data-target="#carousel-pix" data-slide-to="{{$index}}" ng-class="$index==0 ? 'active' : ''"></li>
			</ol>
			<div class="carousel-inner">
				<div ng-repeat="file in imageList.images" ng-class="$index==0 ? 'item active' : 'item'">
					<img ng-src="assets/tracy-aviary/{{file}}" alt="{{$index}} {{file}} slide">
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-pix" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-pix" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		
		<div>
			<p align="right"><small>(c) 2014</small></p>
		</div>
	</div>

</body>
</html>