<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap -->
	<link href="/ag-cdn/js/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/ag-cdn/css/bootstrap-themes/bootstrap-superhero.min.css" rel="stylesheet">
	<link href="/ag-cdn/css/bootstrap-fixed-navbar.css" rel="stylesheet">
	<link href="/ag-cdn/css/bootstrap-custom.css" rel="stylesheet">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/ag-cdn/js/jquery.min.js"></script>
	<script src="/ag-cdn/js/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
	<script src="/ag-cdn/js/angular-1.3.0-beta.18/angular.min.js"></script>	
	<script src="/ag-cdn/js/holder.js"></script>
	
	<script src="js/ag-pix.js"></script>

	<title>Ag Pix</title>
	<link rel="icon" type="image/png" href="/ag-web/images/ag.png">	
</head>

<body ng-app="AgPixApp" ng-controller="AgPixController" ng-init="init()">
	<!-- Navigation / Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../index.html"><span class="text text-danger">Ag</span></a>
				<a class="navbar-brand" href="#"><span class="text text-info">{{imageList.title}}</span></a>				
			</div>
		</div>
	</div>

	<div class="container theme-showcase" role="main">
		<div>
			<div id="carousel-pix" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li ng-repeat="file in imageList.images" data-target="#carousel-pix" data-slide-to="{{$index}}" ng-class="$index==0 ? 'active' : ''"></li>
				</ol>
				<div class="carousel-inner">
					<div ng-repeat="image in imageList.images" ng-class="$index==0 ? 'item active' : 'item'">
						<img ng-src="assets/{{imageDir}}/{{image}}" alt="{{$index}} {{image}} slide">
					</div>
				</div>
				<a class="left carousel-control" href="./ag-pix.html#/?id={{imageDir}}#carousel-pix" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="./ag-pix.html#/?id={{imageDir}}#carousel-pix" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
		<div><ng-include src="'../footer.html'"></ng-include></div>
	</div>

</body>
</html>